<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>       
    <!--File Section-->
    <add key ="LogFileDirectory" value="c:\\test"/>        
  </appSettings>
  <connectionStrings>
    <add name="Logger" connectionString="Data Source=EXCALIBUR\EXCALIBUR;initial catalog=Logger;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>